body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    color: #333;
}

body.chatting {
      margin-top: 100px;
      margin-right: 50px;
      margin-bottom: 50px;
      margin-left: 50px;
}
  
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
   
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}
  
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

h1, h2, h3 {
      color: darkcyan;
      font-weight: 800;
    }

li {
    margin-bottom: 4pt;
}

td {
    font-size: 11pt;
}

a {
    border: 2px solid white;
}

a:link {
    color: #555;
}

a:visited {
    color: #555;
}

a:hover {
    border: 2px solid green;
    border-radius: 5%;
    border-style: groove;
}

.io {
    color: blue;
    font-weight: bold;
}

.tu {
    color: green;
    font-weight: bold;
}

.codice {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    white-space: pre-wrap;
}
  
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}
