---
section: blog
root: "../"
---
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luca Mari - Chatting with an AI..." />
    <meta name="keywords" content="Luca Mari, chatting with an AI..., blog">
    <meta name="author" content="Luca Mari">
    <link rel="stylesheet" href="../mystyles.css" />
    <link rel="stylesheet" href="style.css?v=2" />
    <title>Luca Mari - Chatting with an AI... Blog</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z5WCDQJ535"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-Z5WCDQJ535');
    </script>
</head>
{% capture source %}{% include_relative _content.html %}{% endcapture %}
{% assign after_body = source | split: '<body>' | last %}
{% assign body_content = after_body | split: '</body>' | first %}
<body class="blog-page">
{% include sidebar.html %}
<main class="blog-content">
{{ body_content }}
</main>
</body>
</html>
